# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?# git ls-files --others --exclude-from=.git/info/exclude


*no*commit*
*No*Commit*
*NO*COMMIT*
*.bkp.*
*.bkp
*.log
*.out
_ide_helper*
